.dialog_title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #1e2024;
}

::ng-deep .controller {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    .left {
        display: flex;
        flex-direction: row;
        align-items: center;

        .loading {
            margin-left: 5px;
            &.mat-progress-spinner circle,
            &.mat-spinner circle {
                stroke: #2a79ff !important;
            }
        }
    }
    .applyBtn {
        height: 3em;
        background-color: rgb(0, 107, 255);
        color: #ffffff;
        margin-left: auto;
    }
    .translateBtn {
        color: rgb(0, 107, 255);
        margin-right: auto;
        height: 3em;
    }
}

.close-button {
    float: right;
    top: -24px;
    right: -24px;
}

.dialog_content {
    font-size: 15px;
}

.textarea-inline-control {
    flex: 1;
    border-color: transparent;
    padding: 7px 7px 8px;
    line-height: 1.28;
    resize: none;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;
    border-radius: 3px;
    appearance: none;
    font-family: "Roboto";

    &:hover:not(:focus) {
        background-color: rgb(235, 236, 240);
    }

    &:focus {
        background-color: rgb(235, 236, 240);
        outline: none;
    }
}

::ng-deep .dialog_content .addForm {
    padding-top: 0.5em;

    .splitBtn {
        margin-top: -10px;
        background-color: #006bff;
        color: #ffffff;
        width: 5em;
        margin-left: auto;
        margin-right: auto;
    }

    .frm {
        flex-wrap: wrap;

        .btn-translate {
            background-color: #eaebeb;
            height: 3.6em;
            margin-top: 0.25em;
            justify-content: center;

            .mat-icon {
                padding-top: 0.5em;
            }
        }
    }

    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            color: transparent;
            background-color: #eaebeb;
            border-radius: 5px;
        }

        .mat-form-field-outline-thick {
            color: #dddddd;
        }

        .mat-form-field-infix {
            padding: 0.8em 0;
        }

        &.mat-form-field-can-float {
            &.mat-form-field-should-float {
                .mat-form-field-label {
                    color: #ce7a58;
                    transform: translateY(-1.55em) scale(1);
                    margin-bottom: 1em;
                }
            }
        }
    }

    .searchBtn {
        margin-top: 0.3em;
        background-color: #ce7a58;
        color: #fff;
        height: 3.2em;
    }

    .mat-form-field-label-wrapper {
        top: -1em;
    }

    .mat-form-field.mat-focused {
        .mat-form-field-label {
            color: #ce7a58;
            font-size: 14px;
        }
    }
}

.listSplited {
    .item {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%);
        border-radius: 10px;
        padding: 0.5em;
        margin: 1em 0;
        .left {
            display: flex;
            flex-direction: column;
            align-self: center;
            font-size: 14px;
            width: 90%;
            span {
                &:nth-child(1) {
                    color: rgb(0 0 0 / 54%);
                }
            }
            .trans {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0.2em;
                img {
                    margin-right: 0.5em;
                }
            }
        }
        button {
            align-self: center;
            margin-left: auto;
            font-size: 12px;
            color: #de1212;
        }
    }
}
